<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47ad367b33.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre" class="logo-mp">
        <form action="menu">
            <input type="text" placeholder="buscar productos,marcas">
            <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
        <a class="cuotas" href=""><i class="fa-solid fa-hand-holding-dollar"> Compra en cuotas y sin tarjeta de
                credito</i></a>
        <nav class="menu">
            <ul>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a><i class="fa-sharp fa-regular fa-address-card"></i></li>
                <li><a href="">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <nav class="menu_logo">
                <button><i class="fa-solid fa-bars"></i></button>
            </nav>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__banner">
            <img src="/img/img-home-banner.jpg" alt="banner">
        </div>

        <section id="busqueda">
            <h2>Basado en tu última visita</h2>


            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$6.770</h3>
                        <h4>40% OFF</h4>
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$230.000</h3>
                        <h4>20% OFF</h4>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$70.500</h3>
                        <h4>10% OFF</h4>
                        <p>Sansung Galaxy S10</p>
                    </div>
                </div>
            </article>




            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$23.200</h3>
                        <h4>5% OFF</h4>
                        <p>SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>


            <a href="#">Volver Arriba</a>
        </section>
        <section id="ofertas">
            <h2>Ofertas</h2>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$6.770</h3>
                        <h4>40% OFF</h4>
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-macbook-pro-2019.jpg" alt="macbook">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$230.000</h3>
                        <h4>20% OFF</h4>
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$70.500</h3>
                        <h4>10% OFF</h4>
                        <p>Sansung Galaxy S10</p>
                    </div>
                </div>
            </article>



            <article class="flex">
                <div class="main-box">
                    <img src="/img/img-tv-samsung-smart.jpg" alt="smart">
                    <div class="box">
                        <button><i class="fas fa-truck"></i></button>
                        <h3>$23.200</h3>
                        <h4>5% OFF</h4>
                        <p>SmartTV Samsung 43"</p>
                    </div>
                </div>
            </article>
            <a href="#">Volver Arriba</a>
        </section>
    </main>

    <footer class="home__footer">

        <i class="fas fa-credit-card"></i>
        <h6>Pagá con tarjeta o en efectivo</h6>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es
            seguro!</p>
        <i class="fas fa-gift"></i>
        <h6>Envío gratis desde $ 2.500</h6>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <i class="fas fa-user-shield"></i>
        <h6>Seguridad, de principio a fin</h6>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <h5>● Copyright © 1999-2020 MercadoLiebre</h5>
    </footer>
</body>

</html>