<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/47ad367b33.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="logo">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
            >
        </div>
        <div class="barra-busqueda">
            <form action="menu">
                <input type="text" placeholder="buscar productos,marcas">
                <button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <a class="cuotas" href=""><i class="fa-solid fa-hand-holding-dollar"> Compra en cuotas y sin tarjeta de
                credito</i></a>
        <nav class="menu">
            <ul>
                <li><a href="#ofertas">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-sharp fa-regular fa-address-card"></i></li>
                <li><a href="login">Ingresá</a><i class="fa-sharp fa-solid fa-right-to-bracket"></i></li>
                <li><a href="">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
            <nav class="menu_logo">
                <button><i class="fa-solid fa-bars"></i></button>
            </nav>
        </nav>
    </header>
    <main class="main__formulario">
        <div class="formulario">
            <h3></h3>
            <hr>
            <form>
                <div class="principal">
                   
                    <div class="usuario">
                        <label for="surname">Nombre de usuari@:</label>
                        <input type="text" id="surname" name="surname">
                    </div>
                    <div class="contraseñas">
                        <div>
                            <label for="password">Contraseña:</label>
                            <input type="password" id="password" name="password">
                        </div>
                    </div>
                    <div class="botones">
                        <div class="enviar">
                            <input type="submit" value="enviar" id="enviar" name="enviar">
                        </div>
        
                    </div>

            </form>
        </div>

    </main>
</body>

</html>